In [22]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import urllib3
import math
import numpy as np

In [23]:
# Set the URLs for vollyball team and swimming team
volleyball_teams = {
                  'mens_volleyball': ["https://ccnyathletics.com/sports/mens-volleyball/roster", "https://lehmanathletics.com/sports/mens-volleyball/roster", "https://www.brooklyncollegeathletics.com/sports/mens-volleyball/roster", "https://johnjayathletics.com/sports/mens-volleyball/roster", "https://athletics.baruch.cuny.edu/sports/mens-volleyball/roster", "https://mecathletics.com/sports/mens-volleyball/rostser", "https://www.huntercollegeathletics.com/sports/mens-volleyball/roster", "https://yorkathletics.com/sports/mens-volleyball/roster"],
                  'womens_volleyball': ["https://bmccathletics.com/sports/womens-volleyball/roster", "https://yorkathletics.com/sports/womens-volleyball/roster", "https://hostosathletics.com/sports/womens-volleyball/roster", "https://bronxbroncos.com/sports/womens-volleyball/roster/2021", "https://queensknights.com/sports/womens-volleyball/roster", "https://augustajags.com/sports/wvball/roster", "https://flaglerathletics.com/sports/womens-volleyball/roster", "https://pacersports.com/sports/womens-volleyball/roster", "https://www.golhu.com/sports/womens-volleyball/roster"]

                }

swimming_teams = {
                  'mens_swimming': ["https://csidolphins.com/sports/mens-swimming-and-diving/roster/2023-2024?view=2", "https://yorkathletics.com/sports/mens-swimming-and-diving/roster", "https://athletics.baruch.cuny.edu/sports/mens-swimming-and-diving/roster", "https://www.brooklyncollegeathletics.com/sports/mens-swimming-and-diving/roster", "https://lindenwoodlions.com/sports/mens-swimming-and-diving/roster", "https://mckbearcats.com/sports/mens-swimming-and-diving/roster", "https://ramapoathletics.com/sports/mens-swimming-and-diving/roster", "https://oneontaathletics.com/sports/mens-swimming-and-diving/roster", "https://bubearcats.com/sports/mens-swimming-and-diving/roster/2021-22", "https://albrightathletics.com/sports/mens-swimming-and-diving/roster/2021-22"],
                  'womens_swimming': ["https://csidolphins.com/sports/womens-swimming-and-diving/roster", "https://queensknights.com/sports/womens-swimming-and-diving/roster", "https://yorkathletics.com/sports/womens-swimming-and-diving/roster", "https://athletics.baruch.cuny.edu/sports/womens-swimming-and-diving/roster/2021-22?path=wswim", "https://www.brooklyncollegeathletics.com/sports/womens-swimming-and-diving/roster", "https://lindenwoodlions.com/sports/womens-swimming-and-diving/roster", "https://mckbearcats.com/sports/womens-swimming-and-diving/roster", "https://ramapoathletics.com/sports/womens-swimming-and-diving/roster", "https://keanathletics.com/sports/womens-swimming-and-diving/roster", "https://oneontaathletics.com/sports/womens-swimming-and-diving/roster"]

                }

In [24]:
# Set the URLs for each team

menvolly_ccny = "https://ccnyathletics.com/sports/mens-volleyball/roster"
menvolly_lehman ="https://lehmanathletics.com/sports/mens-volleyball/roster"
menvolly_brkln="https://www.brooklyncollegeathletics.com/sports/mens-volleyball/roster"
menvolly_johnjay="https://johnjayathletics.com/sports/mens-volleyball/roster"
menvolly_baruch="https://athletics.baruch.cuny.edu/sports/mens-volleyball/roster"
menvolly_medgar="https://mecathletics.com/sports/mens-volleyball/roster"
menvolly_hunter="https://www.huntercollegeathletics.com/sports/mens-volleyball/roster"
menvolly_york="https://yorkathletics.com/sports/mens-volleyball/roster"

men_vollyeball_url = [menvolly_ccny, menvolly_lehman, menvolly_brkln, menvolly_johnjay, menvolly_baruch, menvolly_medgar, menvolly_hunter, menvolly_york]


menswim_csi="https://csidolphins.com/sports/mens-swimming-and-diving/roster/2023-2024?view=2"
menswim_york="https://yorkathletics.com/sports/mens-swimming-and-diving/roster"
menswim_baruch="https://athletics.baruch.cuny.edu/sports/mens-swimming-and-diving/roster"
menswim_brkln="https://www.brooklyncollegeathletics.com/sports/mens-swimming-and-diving/roster"
menswim_liden="https://lindenwoodlions.com/sports/mens-swimming-and-diving/roster"
menswim_mckendree="https://mckbearcats.com/sports/mens-swimming-and-diving/roster"
menswim_rampo="https://ramapoathletics.com/sports/mens-swimming-and-diving/roster"
menswim_sunyoneota="https://oneontaathletics.com/sports/mens-swimming-and-diving/roster"
menswim_sunybht="https://bubearcats.com/sports/mens-swimming-and-diving/roster/2021-22"
menswim_albright="https://albrightathletics.com/sports/mens-swimming-and-diving/roster/2021-22"

men_swimming_url = [menswim_csi, menswim_york, menswim_baruch, menswim_brkln, menswim_liden, menswim_mckendree, menswim_rampo, menswim_sunyoneota, menswim_sunybht, menswim_albright]

womenvolly_bmcc = "https://bmccathletics.com/sports/womens-volleyball/roster"
womenvolly_york = "https://yorkathletics.com/sports/womens-volleyball/roster"
womenvolly_hostos = "https://hostosathletics.com/sports/womens-volleyball/roster"
womenvolly_bronx = "https://bronxbroncos.com/sports/womens-volleyball/roster/2021"
womenvolly_queens = "https://queensknights.com/sports/womens-volleyball/roster"
womenvolly_augusta = "https://augustajags.com/sports/wvball/roster"
womenvolly_flagler = "https://flaglerathletics.com/sports/womens-volleyball/roster"
womenvolly_usca = "https://pacersports.com/sports/womens-volleyball/roster"
womenvolly_lhu = "https://www.golhu.com/sports/womens-volleyball/roster"

women_vollyeball_url = [womenvolly_bmcc, womenvolly_york, womenvolly_hostos, womenvolly_bronx, womenvolly_queens, womenvolly_augusta, womenvolly_flagler, womenvolly_usca, womenvolly_lhu]

womenswim_csi = "https://csidolphins.com/sports/womens-swimming-and-diving/roster"
womenswim_queens = "https://queensknights.com/sports/womens-swimming-and-diving/roster"
womenswim_york = "https://yorkathletics.com/sports/womens-swimming-and-diving/roster"
womenswim_baruch = "https://athletics.baruch.cuny.edu/sports/womens-swimming-and-diving/roster/2021-22?path=wswim"
womenswim_brkln = "https://www.brooklyncollegeathletics.com/sports/womens-swimming-and-diving/roster"
womenswim_lindenwood = "https://lindenwoodlions.com/sports/womens-swimming-and-diving/roster"
womenswim_mckendree = "https://mckbearcats.com/sports/womens-swimming-and-diving/roster"
womenswim_ramapo = "https://ramapoathletics.com/sports/womens-swimming-and-diving/roster"
womenswim_kean = "https://keanathletics.com/sports/womens-swimming-and-diving/roster"
womenswim_oneonta = "https://oneontaathletics.com/sports/womens-swimming-and-diving/roster"

women_swimming_url = [womenswim_csi, womenswim_queens, womenswim_york, womenswim_baruch, womenswim_brkln, womenswim_lindenwood, womenswim_mckendree, womenswim_ramapo, womenswim_kean, womenswim_oneonta]

In [25]:
# Creating a function to scrape on URLs

volleyball_men_names = []
volleyball_men_heights =[]
volleyball_women_names = []
volleyball_women_heights =[]

swimming_men_names =[]
swimming_men_heights =[]
swimming_women_names =[]
swimming_women_heights =[]

# Whenever we need to clean the variables
volleyball_men_names.clear()
volleyball_men_heights.clear()
volleyball_women_names.clear()
volleyball_women_heights.clear()
swimming_men_names.clear()
swimming_men_heights.clear()
swimming_women_names.clear()
swimming_women_heights.clear()

In [26]:
def scrape_team(url):

  #for url in men_volleyball_url:

  headers = {
  'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36',
  'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
  'Accept-Language': 'en-US,en;q=0.9',
  'Connection': 'keep-alive'
  }

  # making a request to the server
  page = requests.get(url, headers=headers, verify = False)
  urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

  names =[]
  heights =[]

  # Check if the connection is successful
  if page.status_code == 200:
    soup = BeautifulSoup(page.text, 'html.parser')

  # Find all td tags with names and heights
    name_tags = soup.find_all('td', class_='sidearm-table-player-name')
    raw_heights = soup.find_all('td', class_='height')

  # Extracting the names from name_tags
    for name_tag in name_tags:
      names.append(name_tag.get_text().strip())

  # Extracting the heights from the raw heights and split the string by text '-'
    for height in raw_heights:
      adhoc_heights = height.get_text().split('-')

  # if there's a missing value, put nan
      if len(adhoc_heights) > 1 and adhoc_heights[0] and adhoc_heights[1]:
        feet = int(adhoc_heights[0]) * 12
        inch = int(adhoc_heights[1])
        height_inches = feet + inch
      else:
        height_inches = math.nan

    # append the values to a list
      heights.append(height_inches)

  return names, heights

# Volleyball loop
for gender, urls in volleyball_teams.items():
  for url in urls:
    names, heights = scrape_team(url)
    if gender == 'mens_volleyball':
      volleyball_men_names.extend(names)
      volleyball_men_heights.extend(heights)
    elif gender == 'womens_volleyball':
      volleyball_women_names.extend(names)
      volleyball_women_heights.extend(heights)

# Swimming loop
for gender, urls in swimming_teams.items():
  for url in urls:
    names, heights = scrape_team(url)
    if gender == 'mens_swimming':
      swimming_men_names.extend(names)
      swimming_men_heights.extend(heights)
    elif gender == 'womens_swimming':
      swimming_women_names.extend(names)
      swimming_women_heights.extend(heights)



# Organize the data as a dictionary and need to make it a series to avoid lenght matching error for df

  volleyball_players = {
            'Men_name': pd.Series(volleyball_men_names),
            'Men_height': pd.Series(volleyball_men_heights),
            'Women_name': pd.Series(volleyball_women_names),
            'Women_height': pd.Series(volleyball_women_heights)
}

  swimming_players = {
            'Men_name': pd.Series(swimming_men_names),
            'Men_height': pd.Series(swimming_men_heights),
            'Women_name':  pd.Series(swimming_women_names),
            'Women_height': pd.Series(swimming_women_heights)
}

In [27]:
# check elements in the dictionaries
print((swimming_players["Men_name"]))

0      Anthony Attenborough
1              James Curran
2          Charles Cusumano
3           David Fayngersh
4            Michael Graham
               ...
189          Kieran Hassard
190           Anthony Laite
191          Drew MacDonald
192             Kyle Morken
193        Peter Vanderwerf
Length: 194, dtype: object

In [28]:
volleyball_players_df = pd.DataFrame(volleyball_players)
swimming_players_df = pd.DataFrame(swimming_players)

In [29]:
volleyball_players_df.head()

         Men_name  Men_height        Women_name  Women_height
0  Shakib Delowar        71.0  Emmanuella Aurel          61.0
1  Brandon  Green        72.0   Bianca Zwerlein          65.0
2      Reng  Chen        69.0     Kavana Liburd          63.0
3    Anirudha Das        68.0  Ja-nya Breagreen          59.0
4   Gabriel Linus        75.0   Valerie Reynoso          63.0

In [30]:
swimming_players_df.head()

               Men_name  Men_height           Women_name  Women_height
0  Anthony Attenborough        70.0   Aurelia Barbagallo           NaN
1          James Curran        69.0        Nicole Conroy           NaN
2      Charles Cusumano        64.0  Jacqueline DeFranco           NaN
3       David Fayngersh        70.0         Alexis Doyle           NaN
4        Michael Graham        70.0    Katherine Ebrahim           NaN

In [31]:
volleyball_players_df.to_csv("Volleyball_Players.csv", index=False)
swimming_players_df.to_csv("Swimming_Players.csv", index=False)

In [40]:
swim = pd.read_csv("Swimming_Players.csv")
vball = pd.read_csv("Volleyball_Players.csv")

men_swim = swim[["Men_name", "Men_height"]].dropna()
women_swim = swim[["Women_name", "Women_height"]].dropna()
men_vball = vball[["Men_name", "Men_height"]].dropna()
women_vball = vball[["Women_name", "Women_height"]].dropna()

men_swim.columns = ["name", "height_in"]
women_swim.columns = ["name", "height_in"]
men_vball.columns = ["name", "height_in"]
women_vball.columns = ["name", "height_in"]

In [33]:
men_swim.to_csv("men_swimming.csv", index=False)
women_swim.to_csv("women_swimming.csv", index=False)
men_vball.to_csv("men_volleyball.csv", index=False)
women_vball.to_csv("women_volleyball.csv", index=False)

In [35]:
avg_men_swim = men_swim["height_in"].mean()
avg_women_swim = women_swim["height_in"].mean()
avg_men_vball = men_vball["height_in"].mean()
avg_women_vball = women_vball["height_in"].mean()

print("Average Men Swim Height:", avg_men_swim)
print("Average Women Swim Height:", avg_women_swim)
print("Average Men Volleyball Height:", avg_men_vball)
print("Average Women Volleyball Height:", avg_women_vball)

Average Men Swim Height: 71.07865168539325
Average Women Swim Height: 65.75206611570248
Average Men Volleyball Height: 71.2135922330097
Average Women Volleyball Height: 68.34375

In [37]:
print("Tallest Men Swimmers:")
print(men_swim.nlargest(5, "height_in"))

Tallest Men Swimmers:
                     name  height_in
120           Tyson Upton       79.0
100         Colton Grimes       78.0
118  Domantas  Tarnauskas       77.0
171            Eric Kroon       77.0
70      Mattia Giurgevich       76.0

In [39]:
print("Shortest Men Swimmers:")
print(men_swim.nsmallest(5, "height_in"))

Shortest Men Swimmers:
                name  height_in
96   Miles Fleischer       63.0
2   Charles Cusumano       64.0
34       Samuel Liao       65.0
36      Eric Mayzlin       65.0
45         Stuart Xu       65.0

In [41]:
print("Tallest Women Swimmers:")
print(women_swim.nlargest(5, "height_in"))

Tallest Women Swimmers:
                 name  height_in
80     McKenzie Fazio       74.0
66    Maja Piotrowicz       73.0
38  Ayatallah Elkotby       72.0
51    Kornelia Buszka       71.0
76    Bianka Bukovics       71.0

In [42]:
print("Shortest Women Swimmers:")
print(women_swim.nsmallest(5, "height_in"))

Shortest Women Swimmers:
                 name  height_in
23        Nakia Usher       58.0
24        Julia Wyman       58.0
22  Melanie Rodriguez       59.0
12         Asha Besaw       61.0
18     Kristen Flores       61.0

In [43]:
print("Tallest Men Volleyball Players:")
print(men_vball.nlargest(5, "height_in"))

Tallest Men Volleyball Players:
                name  height_in
40  Joaquin Calderon       80.0
88    Annes Deljanin       79.0
74       Wyatt Kotuk       78.0
38         Jason Lin       77.0
56       Adam Bainey       77.0

In [44]:
print("Shortest Men Volleyball Players:")
print(men_vball.nsmallest(5, "height_in"))

Shortest Men Volleyball Players:
                       name  height_in
16             Levi Rosario       64.0
18  Joseph Gianfranco Teves       65.0
28          Dion  Csikortos       65.0
34              Ali Zandani       66.0
42        Eugene  Villarruz       66.0

In [46]:
print("Tallest Women Volleyball Players:")
print(women_vball.nlargest(5, "height_in"))

Tallest Women Volleyball Players:
                   name  height_in
49       Nourhan Hadjeb       75.0
58  Jayna Marie Lorenzo       75.0
71    Sydney Harrington       75.0
57       Jonaida Donowa       74.0
91        Cassidy Bloom       74.0

In [45]:
print("Shortest Women Volleyball Players:")
print(women_vball.nsmallest(5, "height_in"))

Shortest Women Volleyball Players:
                     name  height_in
3        Ja-nya Breagreen       59.0
0        Emmanuella Aurel       61.0
37   Maynee De Los Santos       61.0
60             Sarah Munn       61.0
104      Tucker Patterson       62.0